.app {
	min-height: 100vh;
	background-color: rgb(237, 242, 244);
}

.header {
	background-color: rgba(141, 153, 174, 0.74);
	color: rgb(0, 0, 0);
	text-align: center;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 14vh;
	padding: 0rem;
}

.header > h1 {
	margin: 0;
	font-weight: 400;
	font-size: 2.2rem;
}

.paper {
	margin: 0.5rem;
}

.info {
	display: flex;
	min-height: 80vh;
	flex-direction: column;
}

.confirmed {
	background-color: rgba(0, 0, 225, 0.3);
	padding: 1rem !important;
}

.recovered {
	background-color: rgba(0, 255, 0, 0.3);
	padding: 1rem !important;
}

.deaths {
	background-color: rgba(225, 0, 0, 0.3);
	padding: 1rem !important;
}

.select {
	width: 17rem;
}

.footer {
	background-color: black;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	min-height: 6vh;
	padding: 0 1rem;
}

.footer > p {
	font-size: 0.6rem;
	margin: 0;
	padding: 0;
	font-weight: 100;
}

@media (min-width: 571px) {
	.paper {
		margin: 2rem;
	}
}

/* iPhone X */
/* @media (width: 375px) {
	.header {
		min-height: 12vh;
	}

	.info {
		min-height: 80vh;
	}

	.footer {
		min-height: 8vh;
	}
}

/* iPhone 6+ */
/* @media (width: 414px) {
	.header {
		height: 12vh;
	}

	.info {
		height: 80vh;
	}

	.footer {
		height: 8vh;
	}
} */

/* iPhone 6 */
/* @media (height: 667px) {
	.header {
		min-height: 14vh;
	}

	.info {
		min-height: 80vh;
	}

	.footer {
		min-height: 8vh;
	}
} */

/* iPhone 4 */
/* @media (width: 320px) {
	.header {
		min-height: 20vh;
	}

	.info {
		min-height: 80vh;
	}

	.footer {
		min-height: 10vh;
	}
} */

/* Tabs above
@media (width: 546px) {
	.header {
		height: 12vh;
	}

	.header > h1 {
		font-weight: 400;
		font-size: 3rem;
	}

	.info {
		height: 70vh;
	}

	.paper {
		margin: 1rem 2rem;
	}

	.footer {
		height: 4vh;
	}
} */

/* @media (min-width: 1110px) {
	.header > h1 {
		font-size: 3rem;
	}

	.paper {
		margin: 3rem;
	}
} */
