/* For Laptop Display */
.app {
	min-height: 100vh;
	background-color: rgb(237, 242, 244);
}

.header {
	background-color: rgba(141, 153, 174, 0.74);
	color: rgb(0, 0, 0);
	text-align: center;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 15vh;
}

.header > h1 {
	margin: 0;
	padding: 0.2rem;
	font-weight: 500;
	font-size: 3rem;
}

.paper {
	margin: 0;
}

.info {
	display: flex;
	min-height: 80vh;
	flex-direction: column;
}

.confirmed {
	background-color: rgba(0, 0, 225, 0.3) !important;
	padding: 1rem !important;
	width: 270px !important;
	height: 117px !important;
}

.confirmed__skelton {
	padding: 1rem !important;
	width: 270px !important;
	height: 117px !important;
}

.recovered {
	background-color: rgba(0, 255, 0, 0.3) !important;
	padding: 1rem !important;
	width: 270px !important;
	height: 117px !important;
}

.recovered__skeleton {
	padding: 1rem !important;
	width: 270px !important;
	height: 117px !important;
}

.deaths {
	background-color: rgba(225, 0, 0, 0.3) !important;
	padding: 1rem !important;
	width: 270px !important;
	height: 117px !important;
}

.deaths__skeleton {
	padding: 1rem !important;
	width: 270px !important;
	height: 117px !important;
}

.country__select {
	width: 17rem;
}

.footer {
	background-color: black;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	min-height: 5vh;
	padding: 0 1rem;
}

.footer > p {
	font-size: 0.6rem;
	margin: 0;
	padding: 0.9rem;
	font-weight: 100;
}

.footer > p > a {
	color: white;
	text-decoration: none;
}

@media (min-width: 571px) {
	.paper {
		margin: 2rem;
	}
}

/* iPhone X */
@media (max-width: 570px) {
	.header {
		min-height: 12vh;
	}

	.header > h1 {
		font-weight: 500;
		font-size: 2.2rem;
	}

	.info {
		min-height: 80vh;
	}

	.paper {
		margin: 0.8rem;
	}

	.footer {
		min-height: 8vh;
	}
}

/* iPhone 6 */
@media (height: 667px) {
	.header {
		min-height: 14vh;
	}

	.header > h1 {
		font-weight: 500;
		font-size: 2.2rem;
	}

	.info {
		min-height: 78vh;
	}

	.paper {
		margin: 0.3rem;
	}

	.confirmed {
		background-color: rgba(0, 0, 225, 0.3) !important;
		padding: 0.5rem !important;
		width: 270px !important;
		height: 121px !important;
	}

	.confirmed__skelton {
		padding: 0.5rem !important;
		width: 270px !important;
		height: 121px !important;
	}

	.recovered {
		background-color: rgba(0, 255, 0, 0.3) !important;
		padding: 0.5rem !important;
		width: 270px !important;
		height: 121px !important;
	}

	.recovered__skeleton {
		padding: 0.5rem !important;
		width: 270px !important;
		height: 121px !important;
	}

	.deaths {
		background-color: rgba(225, 0, 0, 0.3) !important;
		padding: 0.5rem !important;
		width: 270px !important;
		height: 121px !important;
	}

	.deaths__skeleton {
		padding: 0.5rem !important;
		width: 270px !important;
		height: 121px !important;
	}

	.footer {
		min-height: 8vh;
	}
}
/* iPhone 5 */
@media (max-width: 320px) {
	.header > h1 {
		font-weight: 500;
		font-size: 2.2rem;
		padding: 1rem;
	}

	.confirmed {
		background-color: rgba(0, 0, 225, 0.3) !important;
		padding: 0.5rem !important;
		width: 270px !important;
		height: fit-content !important;
	}

	.confirmed__skelton {
		padding: 0.5rem !important;
		width: 270px !important;
		height: fit-content !important;
	}

	.recovered {
		background-color: rgba(0, 255, 0, 0.3) !important;
		padding: 0.5rem !important;
		width: 270px !important;
		height: fit-content !important;
	}

	.recovered__skeleton {
		padding: 0.5rem !important;
		width: 270px !important;
		height: fit-content !important;
	}

	.deaths {
		background-color: rgba(225, 0, 0, 0.3) !important;
		padding: 0.5rem !important;
		width: 270px !important;
		height: fit-content !important;
	}

	.deaths__skeleton {
		padding: 0.5rem !important;
		width: 270px !important;
		height: fit-content !important;
	}

	.footer > p {
		font-size: 0.5rem;
		margin: 0;
		padding: 0.5rem;
		font-weight: 100;
	}
}
