.app {
	min-height: 100vh;
	background-color: rgb(237, 242, 244);
}

.header {
	color: rgb(0, 0, 0) !important;
	background-color: rgba(141, 153, 174, 0.74);
	color: rgb(0, 0, 0);
	text-align: center;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 15vh;
	padding: 0 0.1rem;
}

.paper {
	margin: 1rem;
}

.info {
	min-height: 77vh;
	display: flex;
	flex-direction: column;
}

.confirmed {
	background-color: rgba(0, 0, 225, 0.3);
}

.recovered {
	background-color: rgba(0, 255, 0, 0.3);
}

.deaths {
	background-color: rgba(225, 0, 0, 0.3);
}

.select {
	width: 17rem;
}

.footer {
	background-color: black;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 0.7rem;
	letter-spacing: 4px;
	margin: 0;
	min-height: 8vh;
	padding: 0 1rem;
}

@media (min-width: 546px) {
	.paper {
		margin: 1rem;
	}
}

@media (min-width: 1110px) {
	.paper {
		margin: 3rem;
	}
}
